<% @page_title = "Parts" %>

<div class="Parts index">
	<h2>Parts</h2>

	<%= link_to("Add New Part", {:action => 'new'}, :class => 'action new') %>

	<table class="listing" summary="Parts list">
		<tr class="header">
			<th>&nbsp;</th>
			<th>Name</th>
			<th>Stock</th>
			<th>Action</th>
		</tr>
		<% @parts.each do |part| %>
		<tr>
			<td class="center"><%= part.Nombre %></td>
		<td class="center"><%= part.Cantidad %></td>
			<td class="actions">
				<%= link_to("show", {:action => 'show', :id => part.id}, :class => 'action show') %>
				<%= link_to("Edit", {:action => 'edit', :id => part.id}, :class => 'action edit') %>
				<%= link_to("Delete", {:action => 'delete', :id => part.id}, :class => 'action delete') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>