<% @page_title = "Parts" %>

<div class="Parts index">
	<h2>Parts</h2>

	<%= link_to("Add New Part", new_part_path(car_id: @car_id), :class => 'action new') %>
	<table class="listing" summary="Parts list">
		<tr class="header">
			<th>&nbsp;</th>
			<th>Name</th>
			<th>Stock</th>
			<th>Action</th>
		</tr>
		<% @parts.each do |part| %>
		<tr>
			<td class="center"><%= part.Nombre %></td>
		<td class="center"><%= part.Cantidad %></td>
			<td class="actions">
				<%= link_to("Show", part_path(part), :class => 'action show') %>
				<%= link_to("Edit", edit_part_path(part), :class => 'action edit') %>
				<%= link_to("Delete", part_path(part), :class => 'action delete') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>