<%= link_to("Back List Part", :action => 'index', car_id: @part.Car_id) %>

<div class="part show">
	<h2>Show Part</h2>

	<table summary="Part detail view">
		<tr>
			<th>Name</th>
			<td><%= @part.Nombre %></td>
		</tr>
		<tr>
			<th>Stock</th>
			<td><%= @part.Cantidad %></td>
		</tr>
		
			<th>Created</th>
			<td><%= @part.created_at %></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= @part.updated_at %></td>
		</tr>
		<tr>
		</tr>
	</table>
	<%= link_to "Show Cars", cars_path() %>
	
</div>