<%= link_to("<<Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="Car edit">
	<h2>Update Car</h2>

	<%= form_for(:car, :url => {:action => 'update', :id => @car.id}) do |f| %>

	<table summary="Car form fields">
		<tr>
			<th>Brand</th>
			<td><%= f.text_field(:Marca) %></td>
		</tr>
		<th>Model</th>
			<td><%= f.text_field(:Modelo) %></td>
		</tr>
		
	</table>

	<div class="form-buttons">
		<%= submit_tag("Update Car") %>
	</div>
	
	<% end %>

</div>