<% @page_title = "Cars" %>

<div class="Cars index">
	<h2>Cars</h2>

	<%= link_to("Add New Car", new_car_path(), :class => 'action new') %>

	<table class="listing" summary="Cars list">
		<tr class="header">
			<th>&nbsp;</th>
			<th>Brand</th>
			<th>Model</th>
			<th>Action</th>
		</tr>
		<% @cars.each do |car| %>
		<tr>
			<td class="center"><%= car.Marca %></td>
		<td class="center"><%= car.Modelo %></td>
			<td class="actions">
				<%= link_to("Show", car_path(car), :class => 'action show') %>
				<%= link_to("Edit", edit_car_path(car), :class => 'action edit') %>
				<%= link_to 'Delete', car_path(car), :method => :delete, :class => "delete" %>
			</td>
		</tr>
		<% end %>
	</table>
</div>
